.new-arrival-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #f9f3e9;
}

.image-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.content-container {
    flex: 1;
    background-color: #f4e7ce;
    padding: 40px;
    border-radius: 10px;
    margin-left: -100px; /* Adjust this based on the design */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.content-container h5 {
    font-size: 18px;
    color: #888;
    margin-bottom: 10px;
}

.content-container h1 {
    font-size: 36px;
    color: #b3873f;
    margin-bottom: 20px;
}

.content-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.buy-now-btn {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #b3873f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-now-btn:hover {
    background-color: #a1753a;
}
