.browse-range-section {
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 30px;
    margin-top: 50px;
    background-color: #f9f9f9; /* Adjust the background color if needed */
}

.browse-range-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.browse-range-section p {
    color: #777;
    margin-bottom: 30px;
}

.range-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.range-item {
 width: 75%;
    transition: transform 0.3s ease;
}

.range-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.range-item h3 {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
}

.range-item:hover {
    transform: scale(1.05);
}
